BattleTank/Content/Developers/Sean/Collections/terrain_heightmap_01.jpg
BattleTank/Content/StarterContent/
BattleTank/Content/inktank.ttf
BattleTank/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset
